.equipmentView {
  font-family: sans-serif;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;

  .title{
    margin-bottom: 10px;

    span {
      color: #003366;
      font-size: 1.6rem;
      font-weight: bold;
    }

    span:hover{
      cursor: pointer;
      color: #f77f00;
    }

    span:active{
      color: #003366;
    }
  
    img {
      width: 20px;
      height: 20px;
      margin-left: 5px;
    }

    button {
      background-color: #003366;
      color: white;
      border: none;
      padding: 5px;
      margin-left: 10px;
      font-size: 1.2rem;
    }
  }

  table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 0, 9px;
    font-size: 1.0rem;
    margin-bottom: 10px;
  }

  td,
  th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
  }

  td {
    text-align: center;
  }

  tr:nth-child(even) {
    background-color: #eee;
  }

  th[scope='col'] {
    background-color: #003366;
    color: #fff;
  }
  
  th[scope='col']:hover {
    text-decoration:underline;
    cursor: pointer;
  }

  th[scope='row'] {
    background-color: #eeeefd;
  }

  caption {
    padding: 10px;
    caption-side: bottom;
  }

  .thDelete:hover{
    cursor:not-allowed !important;
    text-decoration: none !important;
  }

  .tdDelete{
    font-size: 1.5rem;
  }

  .tdDelete:hover{
    color: red;
    cursor: pointer;
  }

  .tdDelete:active{
    color: rgb(140, 0, 0);
    cursor: pointer;
  }

  .tdEquipmentName {
    text-decoration: underline;
  }

  .tdEquipmentName:hover {
    background-color: #282c34;
    color: white;
    text-decoration: underline;
    cursor: pointer;
  }

  .tdDivEquipmentStatus {
    color: white;
    font-size: 1.1rem !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px  ;
  }

  .tdDivEquipmentStatus:hover{
    background-color: black !important;
    cursor: pointer;
  }
}