.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 31232132131;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;

  label {
    padding: 5px 0;
    margin-top: 0 !important;
  }
}

.wrapper:hover {
  cursor: pointer;
}

.popUpWrapper {
  cursor: default;
  width: 50%;
  height: auto;
  background: white;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 12px;
  overflow: auto;

  .input {

    outline: none;
    border: none;
    border-bottom: 1px solid black;
  }

  select {

    outline: none;

  }

  .flex {
    display: flex;
    justify-content: space-between;
  }
}

.techWrapper {

  span {
    font-weight: 500;
  }

  label {
    display: flex;

    align-items: center;

    input {
      width: 18px;
      margin-right: 10px;
      height: 18px;
    }
  }
}

.closeWrapper {
  img {
    width: 20px;
    height: 20px;
  }

  float: right;
}

h1 {
  font-size: 1.2rem;
}

.equipmentInfo {

  .block {
    border-bottom: 2px solid #acacac;
    padding: 5px 0;

    .title {
      color: #003366;
      font-size: 1.1rem;
      font-weight: bold;
      margin-bottom: 5px;
    }

    p {
      font-size: 1.0rem;
    }

    span {
      font-size: 1.0rem;
    }
  }
}

.equipmentEditStatus {

  p {
    font-size: 1.0rem;
  }

  button {
    margin-top: 0.5rem;
    width: 33%;
    font-size: 1.4rem;
    color: white;
    border: 0px;
  }

  button:hover {
    cursor: pointer;
    background-color: black !important;
  }
}



.equipmentCreate {
  font-family: sans-serif;
  margin-top: 10px;
  margin-left: 20px;


  b {
    color: #003366;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
  }

  select {
    display: block;
    width: 70%;
    height: 35px;
    font-size: 1.1rem;
    outline: black;
    border: 1.5px solid #003366;
    background-color: white;
    border-radius: 2px;
    margin-bottom: 10px;
  }

  input {
    display: block;
    font-size: medium;
    width: 80%;
    height: 30px;
    font-size: 1.1rem;
    margin-bottom: 10px;
    border: 1.5px solid #003366;
  }

  button {
    margin-left: 0px !important;
  }
}